// **************************
// Shared Styles
// **************************

header,
footer {
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 30px 20px;
}

.menu-footer-menu-container,
.menu-social-media-links-container,
.menu-header-menu-container {
	margin: 20px;
	@include fontSizer(12);
}

.menu {

}


// **************************
// Header Styles
// **************************

h1 {
	@include fontSizer(40);
	font-weight: 400;
	letter-spacing: 12px;

	text-transform: uppercase;
	text-align: center;
	
	position: relative;
	margin-bottom: 25px;
	&::after {
		position: absolute;
		transform: translate(-50%, 0);
		left: 50%;
		bottom: -10px;
		content: ' ';
		display: block;
		margin: 0 auto;
		height: 2px;
		width: 300px;
		background: $pink;
	}
	a {
		color: black;
		&:hover {
			color: darken($grey, 60);
		}
	}
}

p.description {
	@include fontSizer(18);
	font-family: $secondFont;
	font-weight: 100;

	text-align: center;
	text-transform: none;

	margin-bottom: 50px;
}

// **************************
// Footer Styles
// **************************

footer {
	clear: both;
	background: $grey;
	text-align: center;
	margin-top: 100px;
	.menu-social-media-links-container,
	.menu-footer-menu-container {
		padding: 10px 0;
		margin: 0;
		&::after {
			content: ' ';
			display: block;
			padding-bottom: 20px;
			border-bottom: 1px solid $pink;
			width: 60%;
			margin: 0 auto;
			// transform: translate(50%, 0);
			// left: 50%;
		}
	}

	.menu-social-media-links-container ul li a,
	p {
		color: darken($grey, 20);
		@include fontSizer(8);
		letter-spacing: 1px;
	}

	.fa {
		@include fontSizer(14);
		margin-right: 5px;
		color: $pink;
		vertical-align: bottom;
	}
}

