// **************************
// Shared Styles
// **************************

header,
footer {
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 30px 20px;
}

.menu-footer-menu-container,
.menu-social-media-links-container,
.menu-header-menu-container {
	margin: 20px;
	@include fontSizer(12);
}

.menu {

}


// **************************
// Header Styles
// **************************

h1 {
	@include fontSizer(40);
	font-weight: 400;
	letter-spacing: 12px;

	text-transform: uppercase;
	text-align: center;
	
	position: relative;
	margin-bottom: 25px;
	&::after {
		position: absolute;
		transform: translate(-50%, 0);
		left: 50%;
		bottom: -10px;
		content: ' ';
		display: block;
		margin: 0 auto;
		height: 2px;
		width: 300px;
		background: $pink;
	}
	a {
		color: black;
		&:hover {
			color: darken($grey, 60);
		}
	}
}

h2 {
	@include fontSizer(18);
	font-family: $secondFont;
	font-weight: 100;

	text-align: center;
	text-transform: none;

	margin-bottom: 50px;
}

// MOST RECENT
.recent {
	display: flex;
	flex-flow: row wrap;
}
.mostRecent {
  background: $grey;
  height: 300px;
  width: 200px;
  position: relative;
  margin-left: 30px;
  .image {
  	width: 100%;
  	height: 40%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
	img {
		width: 100%;
	}
  }

  .overlay {
  	position: absolute;
  	background: rgba(255,255,255,0.79);
  	height: 70%;
  	width: 82%;
  	bottom: 16px;
  	left: 8%;
  	z-index: 5;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }
}

.mostRecent .overlay {
	.title {
		width: 75%;
		text-align: center;
		padding: 20px 0;
		p {
			font-family: $secondFont;
			@include fontSizer(10);
			padding: 0;
			margin: 3px 0;
		}
		a {
			color: black;
			text-transform: uppercase;
			@include fontSizer(20);
			&:hover {
				color: $pink;
			}
		}
	}
	.tags {
		width: 80%;
		border-top: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		@include fontSizer(10);
		color: $pink;
		text-align: center;		
		a {
			color: $pink;
			padding: 0px 5px;
			border-right: 1px solid $pink;
			&:hover {
				color: darken($grey, 30);
			}
			&:last-of-type {
				border: none;
			}
		}
	}
}

// **************************
// Footer Styles
// **************************

footer {
	clear: both;
	background: $grey;
	
	.menu-social-media-links-container,
	.menu-footer-menu-container {
		padding: 10px 0;
		margin: 0;
		&::after {
			content: ' ';
			display: block;
			padding-bottom: 20px;
			border-bottom: 1px solid $pink;
			width: 60%;
			margin: 0 auto;
			// transform: translate(50%, 0);
			// left: 50%;
		}
	}

	.menu-social-media-links-container ul li a,
	p {
		color: darken($grey, 20);
		@include fontSizer(8);
		letter-spacing: 1px;
	}

	.fa {
		@include fontSizer(14);
		margin-right: 5px;
		color: $pink;
		vertical-align: bottom;
	}
}

