ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: black;
			padding: 5px;
			border-bottom: 1px solid transparent;

			&:hover {
				color: $pink;
			}

		}
	}
	.current-menu-item > a{
		border-bottom: 1px $pink solid;

	}
	.menu-item-has-children > ul {
		display: none;
	}
}